<html>

 <head>
        <title>PostgresDB/Spring Boot</title>
        <style>
            table, th, td {
               border: 1px solid black;
               border-spacing: 0px;
            }
            th, td {
                padding: 10px;
            }
        </style>
    </head>

  <body>
  
 <table>
            <thead>
                <tr>
                    <th>ProductID</th>
                    <th>FirstName</th>
                    <th>Last Name</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr th:each="emp : ${empList}">
                    <td th:text="${emp.id}"></td>
                    <td th:text="${emp.fname}"></td>
                    <td th:text="${emp.lname}"></td>                    
                </tr>
            </tbody>
        </table>

 <h2>Add Product</h2>
 <form action="/addProduct" method="POST">
     ProductID  &nbsp; <input type="text" id="id" name="id" /><br />
     FirstName        <input type="text" id="fname" name="fname" /><br />
     LastName  &nbsp; &nbsp; <input type="text" id="lname" name="lname" /><br />
     <input type="submit" />
 </form>
    
  </body>
  
</html>